/* admin_style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #ff2c2c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid red;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #333;
    color: #ff2c2c;
}

td {
    background-color: #2b2b2b;
    color: white;
}

/* Gaya untuk tombol aksi */
button {
    border: none; /* Menghilangkan border */
    padding: 8px 12px; /* Padding dalam tombol */
    margin: 5px;
    cursor: pointer; /* Mengubah kursor saat hover */
    transition: background-color 0.3s; /* Efek transisi saat hover */
}

button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

/* Gaya untuk tombol hapus dengan warna merah */
.btnHapus {
    padding: 8px 12px;
    background-color:#d32f2f; /* Red background for buttons */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnHapus:hover {
    background-color: white;
    color: black;
}

/* Pagination Styling */
.pagination {
    display: inline-block;
    margin-top: 20px;
}

.pagination a, .pagination span {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid red;
    margin: 0 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a {
    background-color: black; /* Normal button background */
}

.pagination a:hover {
    background-color: red; /* Button on hover */
    color: white;
}

.pagination .active {
    background-color: red;
    color: white;
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: #e53935;
}

a:hover {
    text-decoration: underline;
}

/* Responsif untuk layar yang lebih kecil */
@media (max-width: 600px) {
    table, table th, table td {
        display: block;
        width: 100%;
    }

    table th {
        text-align: left;
    }

    table td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
